<nav class="light-blue accent-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">Tender</a> 
    <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-left:1000px">
      <li><a href="/logout">LOG OUT</a></li>
    </ul>
  </div>
</nav>
<div id="count">
</div>

<div id="chatbox">
</div>

 <div class="row">
    <form class="col s12" id="chat-form">
      <div class="row">
        <div class="input-field col s4">
        <input type="hidden" id="chat-name" value="<%= current_user.first_name%>">
        <input id="textbox" class="input-filed col s6" placeholder="Enter message here">
        </div>
         <input class="btn waves-light light-blue accent-1" type="submit" value="Send">
    </form>
  </div>


<script type="text/javascript">
    var socket = io.connect("http://127.0.0.1:8000", {force_connection: true});
    
    socket.on("welcome", function(){
        $("#chatbox").append($("#chat-name").val() +" has entered chatroom</p>")
    })

    $("#chat-form").submit(function(){
        var info = $("#textbox").val();
        var name = $("#chat-name").val()
        var message = name + " says: " + info;
        socket.emit("message", {message: message})
        $("#textbox").val("");
        return false;
    })

    socket.on("newMessage", function(response){
     $("#chatbox").append("<p>" + response.message + "</p>");
    })

        socket.on("feed", function(response){
        for(var i = 0; i < response.messageFeed.length; i++) {
            $("#chatbox").append("<p>" + response.messageFeed[i].message + "</p>")
            $("#count").append(response.messageFeed.length);
        }
    })
</script>