<nav class="light-blue accent-1">
	<div class="nav-wrapper">
	  <a href="/" class="brand-logo left">Tender</a> 
	  <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-left:1000px">
	    <li><a href="register">REGISTER</a></li>
	    <li><a href="/">HOME</a></li>
	  </ul>
	</div>
</nav>

<div class="container">
    <h5 class="center-align">About Us</h5>
    <p> Tender's unique matchmaking formula puts the user in control of how they connect with local singles. By contributing a personal set of questions for your matches answer, you decide what's most important to know about a potential mate. Why let someone else decide how to pair you?</p>
 </div>