<!-- Header -->
<nav class="light-blue accent-1">
	<div class="nav-wrapper">
	  <a href="/" class="brand-logo left">Tender</a> 
	  <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-left:1000px">
	    <li><a href="register">REGISTER</a></li>
	    <li><a href="login">LOGIN</a></li>
	  </ul>
	</div>
</nav>
<!-- Body -->
<!-- <div class="parallax-container"> -->
    <div class="slider">
      <ul class="slides">
      <li>
        <img src="/assets/home.jpg">
        <div class="caption left-align">
          <h3 style="font-family:Nothing You Could Do, cursive;font-weight:bolder">This can be your future together...</h3>
        </div>
      </li>
      <li>
        <img src="/assets/home3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 style="font-family:Nothing You Could Do, cursive">Meet your soulmate today.</h3>
        </div>
      </li>
      <li>
        <img src="/assets/home4.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 style="font-family:Nothing You Could Do, cursive">Together, forever...</h3>
        </div>
      </li>
      <li>
        <img src="/assets/home5.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 style="font-family:Nothing You Could Do, cursive">Not your typical dating website.</h3>
        </div>
      </li>
      </ul>
    </div>
<!-- </div> -->
<div class="container">
  <div class="row">
    <h2 class="header" style="font-family:Lobster, cursive">Discover Your Type</h2>
    <p class="grey-text text-darken-3 lighten-3 center">Our unique Behavioral Matchmaking engine learns as you answer questions to pair you with singles you're likely to be mutually attracted to. That means no lengthy questionnaire, just great matches based on your behavior and preferences..</p>
<!-- CARD 1 -->
    <div class="col s12 m3 card-panel hoverable" id="card">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption="This site changed my life forever. I am so unbelievably happy now. You will definitely find happiness here. Don't wait. Register now. - Chuck, age 28"src="/assets/card5">
        </div>
        <div class="card-content">
          <p>"This site changed my life. I am so unbelievably happy now. You will definitely find happiness here. Don't wait for love. Register now." - Chuck, age 28</p>
        </div>
      </div>
    </div>
<!-- CARD 2 -->
    <div class="col s12 m3 card-panel hoverable" id="card">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption="I never thought I would ever find love again...until I came here. All those other dating sites never worked for my unique personality. - Amy, age 19" src="/assets/card1.jpg">
        </div>
        <div class="card-content">
          <p>"I thought I would never find love again, until I came here. Other dating sites never worked for my "unique" personality." I'm so glad I found this. - Amy, age 19</p>
        </div>
      </div>
    </div>
<!-- CARD 3 -->      
    <div class="col s12 m3 card-panel hoverable" id="card">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption="Not only did I meet my soulmate here, but so did my friends. My friends and I have never been happier than ever before. - Mike, age 32" src="/assets/card2.jpg">
        </div>
        <div class="card-content">
          <p>"Not only did I meet my soulmate here, but so did several of my friends. This dating service has made me and my friends happier than ever before." - Mike, age 32</p>
        </div>
      </div>
    </div>
<!-- CARD 4 -->
    <div class="col s12 m3 card-panel hoverable" id="card">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption="I heard about this site on Oprah's show 2 months ago, and now I am dating the love of my life. This site will change your life as well. - Sarah, age 25"src="/assets/card4.jpg">
        </div>
        <div class="card-content">
          <p>"I heard about this site on Oprah's show only two months ago, and now I am dating the love of my life. I'm sure this site will definitely change your life as well." - Sarah, age 25</p>
        </div>
      </div>
    </div>
<!-- END CARD -->
  </div>
  <h2 class="header" style="font-family:Lobster, cursive">How Tender Works</h2>
  <h4 class="header left-align" style="font-family:Lobster, cursive">You decide how to match</h4>
  <p>User generated questions are the heart of Tender's unique matchmaking model. After registering, you provide three questions your matches will answer, and you in turn answer your matches' questions. If you and your match give the answers a thumbs up, a chat opens and you can start getting to know eachother!</p>
  <h4 class="header left-align" style="font-family:Lobster, cursive">The more you chat, the more you learn</h4>
  <p>With so many shallow dating apps on the market, Tender takes a different approach. When your first match, all you can see is your match's name. As the conversation continues, you unlock facts about your match: age, height, etc., culminating in seeing their picture!</p>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/home2.jpg"></div>
</div>
<div class="section white2">
  <div class="row container">
    <h2 class="header" style="font-family:Lobster, cursive">Meet Your Next Date</h2>
    <p class="grey-text text-darken-3 lighten-3 center">Dating is all about single people connecting. We makes it easy to find fun singles you can start chatting with right away.</p>
    <div id="button">
	    <a href="login" class="waves-effect waves-light btn-large light-blue accent-1">Log In</a>
	   	<a href="register" class="waves-effect waves-light btn-large light-blue accent-1">Sign Up</a> 
   	</div>
  </div>
</div>
<!-- FOOTER -->
<footer class="page-footer light-blue accent-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Discover for yourself why over 35 million singles date smarter with Tender's unique technology.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="aboutus">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright
    </div>
  </div>
</footer>


<script>
  $('.parallax').parallax();
  $('.slider').slider({full_width: true});
</script>  
