
<nav class="light-blue accent-1">
	<div class="nav-wrapper">
	  <a href="#" class="brand-logo center"></a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    <li><a href="sass.html">Sass</a></li>
	    <li><a href="badges.html">Components</a></li>
	    <li><a href="collapsible.html">JavaScript</a></li>
	  </ul>
	</div>
</nav>

<div class="parallax-container">
    <div class="parallax"><img src="/assets/home.jpg" /></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Discover Your Type</h2>
    <p class="grey-text text-darken-3 lighten-3">Our unique Behavioral Matchmaking engine learns as you answer questions to pair you with singles you're likely to be mutually attracted to. That means no lengthy questionnaire, just great matches based on your behavior and preferences..</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/home2.jpg"></div>
</div>
<div class="section white2">
  <div class="row container">
    <h2 class="header">Meet Your Next Date</h2>
    <p class="grey-text text-darken-3 lighten-3">Dating is all about single people connecting. We will makes it easy to find fun singles who you can start chatting with and getting to know right away..</p>
    <div id="button">
	    <a href="login" class="waves-effect waves-light btn-large light-blue accent-1">Log In</a>
	   	<a href="register" class="waves-effect waves-light btn-large light-blue accent-1">Sign Up</a> 
   	</div>
  </div>
</div>
