<!-- Header -->
<nav class="light-blue accent-1">
	<div class="nav-wrapper">
	  <a href="#" class="brand-logo center"></a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    <li><a href="register">Register</a></li>
	    <li><a href="login">Login</a></li>
	  </ul>
	</div>
</nav>
<!-- Body -->
<div class="parallax-container">
    <div class="parallax"><img src="/assets/home.jpg" /></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Discover Your Type</h2>
    <p class="grey-text text-darken-3 lighten-3">Our unique Behavioral Matchmaking engine learns as you answer questions to pair you with singles you're likely to be mutually attracted to. That means no lengthy questionnaire, just great matches based on your behavior and preferences..</p>
  <!-- CARD 1 -->
  <div class="col s12 m7" id="card">
    <div class="card">
      <div class="card-image">
        <img src="/assets/card5">
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#" id="cardlink">See more</a>
      </div>
    </div>
  </div>
<!-- CARD 1 -->
    <div class="col s12 m7" id="card">
      <div class="card">
        <div class="card-image">
          <img src="/assets/card3">
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#" id="cardlink">See more</a>
        </div>
      </div>
    </div>
<!-- CARD 2 -->
    <div class="col s12 m7" id="card">
      <div class="card">
        <div class="card-image">
          <img src="/assets/card1.jpg">
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#" id="cardlink">See more</a>
        </div>
      </div>
    </div>
<!-- CARD 3 -->      
    <div class="col s12 m7" id="card">
      <div class="card">
        <div class="card-image">
          <img src="/assets/card2.jpg">
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#" id="cardlink">See more</a>
        </div>
      </div>
    </div>
<!-- CARD 4 -->
    <div class="col s12 m7" id="card">
      <div class="card">
        <div class="card-image">
          <img src="/assets/card4.jpg">
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#" id="cardlink">See more</a>
        </div>
      </div>
    </div>
<!-- END CARD -->
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/home2.jpg"></div>
</div>
<div class="section white2">
  <div class="row container">
    <h2 class="header">Meet Your Next Date</h2>
    <p class="grey-text text-darken-3 lighten-3">Dating is all about single people connecting. We will makes it easy to find fun singles who you can start chatting with and getting to know right away..</p>
    <div id="button">
	    <a href="login" class="waves-effect waves-light btn-large light-blue accent-1">Log In</a>
	   	<a href="register" class="waves-effect waves-light btn-large light-blue accent-1">Sign Up</a> 
   	</div>
  </div>
</div>
<!-- FOOTER -->
<footer class="page-footer light-blue accent-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>