<nav class="light-blue accent-1">
	<div class="nav-wrapper">
	  <a href="/" class="brand-logo left">Tender</a> 
	  <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-left:1000px">
	    <li><a href="register">REGISTER</a></li>
	    <li><a href="/">HOME</a></li>
	  </ul>
	</div>
</nav>

<% if flash[:msg] %>
   	<p class="msg">**<%= flash[:msg] %>**</p>
<% end %> 

<div class="container">
    <div class="row">
    	<div class="input-field col s6">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title font center-align">login</h3>
			 	</div>

			  	<div class="panel-body">
			    	<form action="/session" method="post">
			    	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <fieldset class="z-depth-1">
			    	  	<div class="form-group">
			    	  		<i class="material-icons prefix">email</i>
			    		    <input class="form-control validate" name="email" type="text" id="icon_prefix" placeholder="Email">
			    		</div>
			    		<div class="form-group">
			    			<i class="material-icons prefix">lock</i>
			    			<input class="form-control validate" placeholder="Password" name="password" type="password" id="icon_prefix">
			    		</div>
			    		<input style="margin-left:37%" class="btn waves-light btn-large light-blue accent-1" type="submit" value="Login">
			    	</fieldset>
			      	</form>
                    <h4 style="font-family:Dancing Script; margin-left:48%">or</h4>
					<a  style="margin-left:24%" class="btn btn-lrg blue darken-4 waves-effect waves-light" href="/auth/facebook"> Log in with Facebook</a>
					
			    </div>
			</div>
		</div>
	</div>
</div>

