<nav>
<div class="nav-wrapper light-blue accent-1">
  <div class="col s12">
    <a href="/" class="breadcrumb">Home</a>
    <a href="login" class="breadcrumb">Login</a>
  </div>
</div>
</nav>


  <div class="containerRegister">
      <div class="row">
        <div class="input-field col s6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Register</h3>
            </div>
            <div class="panel-body">
              <form action="/users" method="post" enctype="multipart/form-data">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <fieldset class="z-depth-1">
                <div class="form-group">
                  <input class="form-control validate" name="user[first_name]" type="text" placeholder="First Name">
                </div>
                <div class="form-group">
                  <input class="form-control validate" placeholder="Last Name" name="user[last_name]" type="text">
                </div>
                <div class="form-group">
                  <input class="form-control validate" placeholder="Email" name="user[email]" type="email">
                </div>
                <div class="form-group">
                  <input class="form-control validate" placeholder="Height" name="user[height]" type="number" step="any">
                </div>
                <div class="form-group">
                  <input class="form-control validate" placeholder="Nationality" name="user[nationality]" type="text">
                </div>
                <div class="form-group">
                  <select name="user[sex]">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                  </select>
                </div>
                <div class="form-group">
                  <input class="form-control validate" placeholder="City" name="user[city]" type="text">
                </div>
                <div class="form-group">
                  <select name="user[state]">
                    <% us_states.each do |state| %>
                      <option value="<%= state %>"><%= state %></option>
                    <% end %>
                  </select>
                </div>
                <div class="form-group">
                  <input class="form-control validate" placeholder="Birthday" name="user[birthday]" type="date">
                </div>
                <div class="form-group">
                  <input class="form-control validate" placeholder="Password" name="user[password]" type="password">
                </div>
                <div class="form-group">
                  <input class="form-control validate" placeholder="Confirm Password" name="user[password_confirmation]" type="password">
                </div>
                <div class="form-group">
                  <p> 
                    Profile Picture:
                    <input class="form-control validate" placeholder="Upload Image" name="user[avatar]" type="file">
                  </p>
                </div>
                
                <input class="btn waves-light btn-large light-blue accent-1" type="submit" value="Register">
                </fieldset>
              </form>
              <a href="login">Already a member?</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('select:not([multiple])').material_select();
  </script>