<div class="containerRegister">
    <div class="row">
      <div class="input-field col s6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Register</h3>
          </div>
          <div class="panel-body">
            <form>
              <fieldset class="z-depth-1">
              <div class="form-group">
                <input class="form-control validate" name="first_name" type="text" placeholder="First Name">
              </div>
              <div class="form-group">
                <input class="form-control validate" placeholder="Last Name" name="last_name" type="text">
              </div>
              <div class="form-group">
                <input class="form-control validate" placeholder="Email" name="email" type="email">
              </div>
              <div class="form-group">
                <input class="form-control validate" placeholder="Password" name="password" type="password">
              </div>
              <div class="form-group">
                <input class="form-control validate" placeholder="Password" name="confirm_password" type="password">
              </div>
              <input class="btn waves-light btn-large light-blue accent-1" type="submit" value="Register">
              </fieldset>
            </form>
            <a href="login">Already a memeber?</a>
          </div>
      </div>
    </div>
  </div>
</div>


 