// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name {
	color:red;
}

#chatbox {
	margin-left: 27%;
	margin-top: 5%;
	border:3px ridge #404040;
}

#textbox {
	margin-left:82%;
}

.send {
	margin-left:26%;
	margin-top:2%;
}

.body_color {
	background-color:#F0F0F0;
}
.card-title {
	font-family: Nothing You Could Do;
}

.mini_pic {
	margin-right:3px;
}

.errors {
	color:red;
	margin-top:-7%;
	font-weight:bold;
}

.msg {
	padding-top:20px;
	margin-left:20%;
	color:red;
	font-weight:bold;
}

.match_pic {
	border:3px inset #B8B8B8;
}

a.hover:hover {
	color:#e0e0e0;
}

.edit_profile {
	margin-left:27px;
}

.profile_body {
	border-style:ridge;
	border-width:5px;
}

.profile_pic {
	border:2px solid black;
	border-style:dotted;
}

.font {
	font-family:'Lobster', cursive;
}

.first_name {
	font-weight:bold;
	color:#B8B8B8 	;

}

.brand-logo.left {
	font-family: 'Lobster', cursive;
	font-size:73px;
	padding-left:20px;
	margin-right: 0px;
}

.parallax-container {
  height: "your height here";
}
.section.white {
	height: 640px;
}

.section.white2 {
	height: 300px;
}

.header, i {
	color: #80d8ff;
	text-align: center;
}
#button{
	text-align: center;
	margin-top: 18px;
}

a{
	margin-right: 30px;
}

.input-group{
	width: 320px;
}
.containerRegister {
	text-align: center;
	height: 500px;
}
.card-image img {
	width: 170px;
	height: 155px;
}
#cardlink{
	color: #80d8ff;
}

.border {
  	border:3px ridge #B8B8B8;
  	background-color:white;
 }

.center {
	text-align: center;
}
#user_photo {
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	margin-left:4%;
}

#profile_info{
	border:none;
	display: inline-block;
	height: 150px;
	text-align: center;
	padding: 0px;
	margin-top:18px;
}

#matches {
	width: 600px;
	height: 240px;
	border: 1px solid black;
	margin: 20px auto;
}

.match {
	display: inline-block;
	width: 170px;
	margin: 10px;
	border: 1px solid black;
}

.answer{
	vertical-align: top;
	padding-left: 20px;
	text-align: center;
}

.match_photo{
	width: 70px;
	height: 90%;
	border: 1px solid black;
	margin: 10px 0px 0px 10px;
	display: inline-block;
}

#find_a_match{
	border:1px solid black;
	margin: 10px;
	text-align: center;
}

#register_button{
	border: 1px solid black;
	width: 200px;
	height: 50px;
	margin: 10px auto;
	text-align: center;
}

#match_question1, #match_question2, #match_question3{
	position: absolute;
	background: white;
	width: 30%;
	margin: 100px 35%;
	padding: 20px;
	z-index: 1500;
	display: none;
	top: 10px;
}

#match_question_background{
	position: fixed;
	width: 100%;
	height: 900px;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .8;
	z-index: 1000;
	display: none;
}

#close{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #999;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	float: right;
}
.match_card{
	margin-top: 15px;
}

.yes_vote{
	position: absolute;
	right: 20%;
	bottom: .5%;
	color: green;
	margin: 0 auto;
}

.no_vote{
	position: absolute;
	left: 20%;
	bottom: .5%;
	color: red;
	margin: 0 auto;
}

.open_chat{
	width: 90%;
	background-color: teal;
	margin: 0 auto;
	margin-left: 5%;
	margin-bottom: 7px;
}
.answer_link{
	margin: 5px
}
.indicator-item.active {
	background-color: #80d8ff;
	color: #80d8ff;
}
.edit_button{
	margin: 0 auto;
	margin-top: 2%;
	width: 90%;
}
.center_align{
	margin: 0 auto;
}
.match-links{
	padding: 5px;
	color: teal;
	text-align: center;
}
.match-conent{
	padding: 5px;
	text-align: center;
}
.match-link{
	width: 40%;
	margin: auto;
	display: inline-block;
}
.btn-border{
	border: 2px solid black;
}
.collapsible-header{
	line-height: 2rem;
}
