// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parallax-container {
  height: "your height here";
}
.section.white {
	height: 610px;
}

.section.white2 {
	height: 300px;
}

.header {
	color: #80d8ff;
	text-align: center;
}
#button, p {
	text-align: center;
	margin-top: 18px;
}
a{
	margin-right: 30px;
}
.container {
	text-align: center;
}