// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parallax-container {
  height: "your height here";
}
.section.white {
	height: 640px;
}

.section.white2 {
	height: 300px;
}

.header, i {
	color: #80d8ff;
	text-align: center;
}
#button, p {
	text-align: center;
	margin-top: 18px;
}
a{
	margin-right: 30px;
}
.container{
	text-align: center;
}
.input-group{
	width: 320px;
}
.containerRegister {
	text-align: center;
	height: 500px;
}

#card.col.s12.m7{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-right: 8px;
}

#card.col.s12.m7 img {
	width: 177px;
	height: 131px;
}
#cardlink{
	color: #80d8ff;
}



